{% for item in csvfile_vars.split("\n") %}
{%   if loop.index !=1 %}
{%    set list = item.split(",") %}

  - name: "{{ list[8]|trim() }}"_sub
    tenant: "{{ list[1]|trim() }}"
    contract: "{{ list[8]|trim() }}"_con
    subject: "{{ list[8]|trim() }}"_sub
    reverse_filter:
    priority: unspecified
    state: present
    validate_certs: False
{%   endif %}
{% endfor %}