{% for item in csvfile_vars.split("\n") %}
{%   if loop.index !=1 %}
{%     set list = item.split(",") %}

  - name: "{{ list[4]|trim() }}"
    lag_type: leaf
    link_level_policy: "{{ list[5]|trim() }}"
    state: present
{%      endif %}
{%  endfor %}