{% for item in csvfile_vars.split("\n") %}
{%   if item.index !=1 %}
{%     set list = item.split(",") %}

  - name: "{{ list[0]|trim() }}_{{ list[3]|trim() }}-bd-l3"
    tenant: "{{ list[1]|trim() }}"
    bd: "{{ list[0]|trim() }}_{{ list[3]|trim() }}-bd"
    l3out: "{{ list[9]|trim() }}"
    state: absent
{%      endif %}
{% endfor %}