{% for item in csvfile_vars.split("\n") %}
{%   if loop.index !=1 %}
{%    set list = item.split(",") %}

  - name: "{{ list[8]|trim() }}-subj"
    tenant: "{{ list[1]|trim() }}"
    contract: "{{ list[8]|trim() }}"
    subject: "{{ list[8]|trim() }}-subj"
    reverse_filter: yes
    priority: unspecified
    state: present
    validate_certs: False
{%   endif %}
{% endfor %}