{% for item in csvfile_vars.split("\n") %}
{%   if loop.index !=1 %}
{%     set list = item.split(",") %}

  - name: "VPC_PG-{{ list[8]|trim() }}-{{ list[9]|trim() }}"
    protection_group_id: "{{ list[8]|trim() }}"
    switch_1_id: "{{ list[8]|trim() }}"
    switch_2_id: "{{ list[9]|trim() }}"
    state: present
{%      endif %}
{%  endfor %}