{% for item in csvfile_vars.split("\n") %}
{%   if loop.index !=1 %}
{%    set list = item.split(",") %}

  - name: "{{ list[1]|trim() }}_con"
    tenant: "{{ list[0]|trim() }}"
    description: Communication between APPs
    scope: application-profile
    state: present
    validate_certs: False
{%   endif %}
{% endfor %}