{% for item in csvfile_vars.split("\n") %}
{%   if loop.index !=1 %}
{%     set list = item.split(",") %}

  - name: "Port-{{ list[15]|trim() }}"
    leaf_interface_profile: "Leaf-{{ list[14]|trim() }}"
    leaf_port_blk: test
    from_port: "{{ list[15]|trim() }}"
    to_port: "{{ list[15]|trim() }}"
    policy_group: "{{ list[4]|trim() }}"
    state: present
{%      endif %}
{%  endfor %}