{% for item in csvfile_vars.split("\n") %}
{%    if loop.index !=1 %}
{%      set list = item.split(",") %}

  - name: "{{ list[9]|trim() }}"
    tenant: "{{ list[1]|trim() }}"
    vrf: "{{ list[2]|trim() }}"
    domain: "{{ list[10]|trim() }}"
    l3protocol: ospf
    route_control: export
    state: present
{%      endif %}
{% endfor %}